<div class="container">
<div class="row">
	 <div class="col-md-12">
	 	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="https://s3-us-west-2.amazonaws.com/sotol/sotol-flor-del-desierto-04.jpg" alt="sotol">
    
    </div>
<!--     <div class="item">
      <img src="..." alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    ... -->
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
				<div class="cover-header">
					<h1 class="header-synch">SOTOL FLOR DEL DESIERTO</h1>
			 <p>
El sotol es una de las pocas bebidas orgánicas al 100% pues es elaborada con agave silvestre completamente puro y con un proceso artesanal en su totalidad. Además es de un agave endémico (Dasylirion), es decir, solo crece en el Desierto Chihuahuense, específicamente de los alrededores de la ciudad de Coyame.
No es ni mezcal, ni es tequila: Es Sotol, un destilado independiente, fuerte y de sabor ahumado, que recuerda leña y tierra. El proceso tradicional de producción consiste en recolectar y deshojar las plantas; excavar y preparar el horno; cocinar las cabezas, macerar y fermentar las cabezas; destilar el producto hasta en dos ocasiones para dejarlo listo para su consumo.
Actualmente existen varias marcas y sus variedades van desde el Sotol blanco, el reposado y el añejo. En curado con damiana (vigorizante), wereke (raíz medicinal utilizada para controlar la diabetes), ojasé (planta para té para el malestar estomacal) y manzana verde (digestivo)</p>

	 </div>
 </div>
</div>

<div class="row">
	<div class="cover-header">
					<h1 class="header-synch">Puntos de Venta</h1>
	 </div>
	 <div class="col-md-6 ">
		 <div class="home-content">
				<div class="home-services">

					<h3 class="header-synch">Mexico D.F</h3>
			<a href="http://www.pujol.com.mx/" target="_blank">
      				<p>Pujol</p>
    				</a>
    		<a href="http://catamundi.com/" target="_blank">
      				<p>Catamundi</p>
    				</a>
    		<a href="https://www.facebook.com/parkerandlenox" target="_blank">
      				<p>Parker And Lenox</p>
    				</a>
    				
	 </div>
 </div>
</div>
<div class="col-md-6 ">
		 <div class="home-content">
				<div class="home-services">
					<h3 class="header-synch">Cd. Juarez</h3>
			 <a href="http://www.mariachuchena.com/" target="_blank">
      				<p>Maria Chuchena</p>
    				</a>
	 </div>

 </div>
</div>
</div>

<div class="row">
	 <div class="col-md-6 ">
		 <div class="home-content">
				<div class="home-services">

					<h3 class="header-synch">Guadalajara</h3>
					<a href="http://www.pujol.com.mx/" target="_blank">
      				<p>Pujol</p>
    				</a>
    		<a href="http://catamundi.com/" target="_blank">
      				<p>Catamundi</p>
    				</a>
    		<a href="https://www.facebook.com/parkerandlenox" target="_blank">
      				<p>Parker And Lenox</p>
    				</a>
			
	 </div>
 </div>
</div>
<div class="col-md-6 ">
		 <div class="home-content">
				<div class="home-services">
					<h3 class="header-synch">Monterrey</h3>
					<a href="http://www.pujol.com.mx/" target="_blank">
      				<p>Pujol</p>
    				</a>
    		<a href="http://catamundi.com/" target="_blank">
      				<p>Catamundi</p>
    				</a>
    		<a href="https://www.facebook.com/parkerandlenox" target="_blank">
      				<p>Parker And Lenox</p>
    				</a>
			 
	 </div>
	 
 </div>
</div>
</div>
<div class="row">
	 <div class="col-md-6 ">
		 <div class="home-content">
				<div class="home-services">

					<h3 class="header-synch">Queretaro</h3>
					<a href="http://www.pujol.com.mx/" target="_blank">
      				<p>Pujol</p>
    				</a>
    		<a href="http://catamundi.com/" target="_blank">
      				<p>Catamundi</p>
    				</a>
    		<a href="https://www.facebook.com/parkerandlenox" target="_blank">
      				<p>Parker And Lenox</p>
    				</a>
			
	 </div>
 </div>
</div>
<div class="col-md-6 ">
		 <div class="home-content">
				<div class="home-services">
					<h3 class="header-synch">Proximamente USA</h3>
					<a href="http://www.pujol.com.mx/" target="_blank">
      				<p>Pujol</p>
    				</a>
    		<a href="http://catamundi.com/" target="_blank">
      				<p>Catamundi</p>
    				</a>
    		<a href="https://www.facebook.com/parkerandlenox" target="_blank">
      				<p>Parker And Lenox</p>
    				</a>
			
	 </div>
	 
 </div>
</div>
</div>

<div class="cover-header">
          <h1 class="header-synch">Flor Del Desierto</h1>
       <p>
       <strong>Origen:</strong> Coyame del Sotol, Chihuahua. México<br>
      <strong>Variedad:</strong> 100% Sereque Silvestre Certificado U.S.D.A. Organic<br>
<strong>Madurez de la Planta:</strong> 18 a 22 años requeridos para su corte<br>
<strong>Horneado:</strong> En pie de tierra a baja profundidad<br>
<strong>Molienda:</strong> 1ª fase Hacha y 2ª fase Cuchillo<br>
<strong>Número de Destilaciones:</strong> Doble Destilación Contínua en Alambique  Artesanal de Cobre<br>
<strong>Fermentación:</strong> De 5 a 7 días en pilas de hormigón al aire libre<br>
<strong>Riqueza Alcohólica:</strong> 45 ⁰<br>
<strong>Fecha de Producción:</strong> Noviembre 2013<br>
<strong>Maestro Sotolero:</strong> Don Gerardo Ruelas<br>
<strong>Numero de botellas:</strong> 1000 piezas de 750 ml.<br>
<strong>Nota de Cata:</strong><br>
De marcado cuerpo, se presenta denso en copa, cristalino y brillantes reflejos  plateados.
De personalidad delicada, sus complejos aromas se integran recordando su origen, tierra húmeda, agave cocido y maderas finas en un fondo cítrico de limón amarillo y lemongrass.
Su ataque es suave, térreo y amable. Se percibe redondo y untuoso con un delicado dejo ahumado. Su retrogusto es marcadamente mineral, cítrico y sutilmente especiado.</p>

   </div>
</div>