<div class="container">
<div class="row">
	 <div class="col-md-12">
	 	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="https://s3-us-west-2.amazonaws.com/sotol/sotol-flor-del-desierto-04.jpg" alt="sotol">
    
    </div>
<!--     <div class="item">
      <img src="..." alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    ... -->
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
				<div class="cover-header">
					<h1 class="header-synch">SOTOL FLOR DEL DESIERTO</h1>
			 <p>
El sotol es una de las pocas bebidas orgánicas al 100% pues es elaborada con agave silvestre completamente puro y con un proceso artesanal en su totalidad. Además es de un agave endémico (Dasylirion), es decir, solo crece en el Desierto Chihuahuense, específicamente de los alrededores de la ciudad de Coyame.
No es ni mezcal, ni es tequila: Es Sotol, un destilado independiente, fuerte y de sabor ahumado, que recuerda leña y tierra. El proceso tradicional de producción consiste en recolectar y deshojar las plantas; excavar y preparar el horno; cocinar las cabezas, macerar y fermentar las cabezas; destilar el producto hasta en dos ocasiones para dejarlo listo para su consumo.
Actualmente existen varias marcas y sus variedades van desde el Sotol blanco, el reposado y el añejo. En curado con damiana (vigorizante), wereke (raíz medicinal utilizada para controlar la diabetes), ojasé (planta para té para el malestar estomacal) y manzana verde (digestivo)</p>

	 </div>
 </div>
</div>

<div class="row">
	<div class="cover-header">
					<h3 class="header-synch">Puntos de Venta</h3>
	 </div>
	 <div class="col-md-6 ">
		 <div class="home-content">
				<div class="home-services">

					<h3 class="header-synch">Mexico D.F</h3>
			<a href="http://www.pujol.com.mx/" target="_blank">
      				<p>Pujol</p>
    				</a>
    		<a href="http://catamundi.com/" target="_blank">
      				<p>Catamundi</p>
    				</a>
    		<a href="https://www.facebook.com/parkerandlenox" target="_blank">
      				<p>Parker And Lenox</p>
    				</a>
    				
	 </div>
 </div>
</div>
<div class="col-md-6 ">
		 <div class="home-content">
				<div class="home-services">
					<h3 class="header-synch">Cd. Juarez</h3>
			 <a href="http://www.mariachuchena.com/" target="_blank">
      				<p>Maria Chuchena</p>
    				</a>
	 </div>

 </div>
</div>
</div>

<div class="row">
	 <div class="col-md-6 ">
		 <div class="home-content">
				<div class="home-services">

					<h3 class="header-synch">Guadalajara</h3>
			 <p>A world of music available to licence now from our unique one-stop international licensing hub. Maintains a focus on primitive, retro rock'n'roll, rockabilly, garage punk, garage rock, lounge music and early R& B.</p>
	 </div>
 </div>
</div>
<div class="col-md-6 ">
		 <div class="home-content">
				<div class="home-services">
					<h3 class="header-synch">Monterrey</h3>
			 <p>2 million songs. 2 million opportunities to find the perfect song for your film, trailer, TV show or video game. Maintains a focus on primitive, retro rock'n'roll, rockabilly, garage punk, garage rock, lounge music and early R& B.</p>
	 </div>
	 
 </div>
</div>
</div>
<div class="row">
	 <div class="col-md-6 ">
		 <div class="home-content">
				<div class="home-services">

					<h3 class="header-synch">Queretaro</h3>
			 <p>A world of music available to licence now from our unique one-stop international licensing hub. Maintains a focus on primitive, retro rock'n'roll, rockabilly, garage punk, garage rock, lounge music and early R& B.</p>
	 </div>
 </div>
</div>
<div class="col-md-6 ">
		 <div class="home-content">
				<div class="home-services">
					<h3 class="header-synch">Proximamente USA</h3>
			 <p>2 million songs. 2 million opportunities to find the perfect song for your film, trailer, TV show or video game. Maintains a focus on primitive, retro rock'n'roll, rockabilly, garage punk, garage rock, lounge music and early R& B.</p>
	 </div>
	 
 </div>
</div>
</div>
</div>