<footer class="footer">
	<div class="container">
		 <div class="wrap">
			<div class="col-md-10 content">
				<h5 class="">Unete A Nuestro Grupo Social!</h5>
				<div>
				
				<a href="/contact" target="_blank"><p class="explore" >Contacto</p></a>
        	</div>
			</div>
			<div class="col-md-2 content">
				<h5 class="">Red Social</h5>
				
  				<div class="media">
    				<a href="https://www.facebook.com/sotolflordeldesierto" target="_blank">
      				<img class="media-object fb"  src="https://s3-us-west-2.amazonaws.com/nortonicons/facebook.png" alt="facebook_icon">
    				</a>
  				</div>
  				<div class="media">
    				<a href="https://www.instagram.com/nortonrecords/" target="_blank">
      				<img class="media-object instagram" height="30" width="30" src="https://s3-us-west-2.amazonaws.com/nortonicons/instagram.png" alt="instagram_icon">
    				</a>
  				</div>
  				<div class="media">
    				<a href="/contact" target="_blank">
      				<img class="media-object instagram" height="30" width="30" src="https://s3-us-west-2.amazonaws.com/nortonicons/mail-icon.png" alt="contact_icon">
    				</a>
  				</div>
			</div>
		<br>
		<div class="col-md-12 text"><p>2016 Sotol Flor Del Desierto</p></div>
	 </div>
	</div>
</footer>