<nav class="navbar navbar-default ">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a href="#" type="button" id="nav-toggle" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span></span>
      </a>
      <div class="brand">
       <a  href="/"><img height="50px" width="80px" src="https://s3-us-west-2.amazonaws.com/sotol/icon_sotol.png"></a>
     </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse center" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav nav" id="menu">
        <li class="menu fade-in"><a href="/music">Sotol</a></li>
        <li class="menu fade-in"><a href="/catalogs">Denominacion de Origen</a></li>
        <li class="menu fade-in"><a href="/synch">Puntos De Venta</a></li>
        <li class="menu fade-in"><a href="/licensing"></a></li>
      </ul>

       <ul class="nav navbar-nav navbar-right" id="menu">
        <li class="menu"><a href="/">Contacto</a></li>
        <li class="logout"><a href=""></a></li>
        <li class="menu"> 
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>